body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* =================
     Typography
================= */

input{
    margin: .5rem;
    border-radius: .5rem;
}
input[type=submit]{
    background-color: rgb(12, 12, 231);
    color: white;
    border: none;
    border-radius: 0;
}

/* =================
       Layout
================= */

.container{
    text-align: center;
    justify-content: center;
}

/* formcontainer */

.formfield,.todo-lists{
    width: 100%;
}

.warning{
    border: 1px solid red;
}
.text-warning{
    display: block;
    color:red

}

/* todolistcontainer */

ul#lists {
    display: table;
    margin: 0 auto;
}

ul#lists > li {
    width: 15rem;
    list-style: none;
    padding: .5em;
    margin-left: -2rem;
    border: 1px solid #cac8c8cc;
    cursor: pointer;
}